* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
#sidebar
{
	position: fixed;
	width: 200px;
	height: 100%;
	background: black;
	left: -200px;
	transition: all 500ms linear;
}

#sidebar active
{
	left: 0px;
}

#sidebar ul li
{
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 15px 10px;
	display: block;
	border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar .toggle-btn
{
	position: absolute;
	left: 230px;
	top: 20px;
}

#sidebar .toggle-btn span 
{
	display : block;
	width: 30px;
	height: 2px;
	background: black;
	margin: 5px 0px;
}

#sidebar .toggle-btn span:before
{
top: 0px;
transform : rotate(45deg);
}

#sidebar .toggle-btn span:before
{
top: 0px;
transform : rotate(45deg);
}

.b1
{
	color: red;
}



