
.container {
    position: absolute;
    text-align: center;
    color: white;
}

.centered {

    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}